{% extends 'base.html.twig' %}

{% block title %}Show{% endblock %}
{% block navbars %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('main')}}" >HOME</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link disabled" href="" tabindex="-1" aria-disabled="true">SHOW <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('add')}}">ADD</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('change')}}">CHANGE</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('delete')}}">DELETE</a>
    </li>
{%  endblock %}
{% block content %}
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Title</th>
            <th scope="col">Distance</th>
            <th scope="col">DifficultyLevel</th>
            <th scope="col">Price</th>
        </tr>
        </thead>
        <tbody>
            {% set counter = 0 %}
            {% for product in products %}
                {% set counter = counter + 1 %}
                <tr>
                    <th scope="row">{{ counter }}</th>
                    <td>{{ product.title }}</td>
                    <td>{{ product.distance }}</td>
                    <td>{{ product.difficultylevel }}</td>
                    <td>{{ product.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}